

/*  Issue with button not working properly after adding image.

The image is positioned above the button, preventing it from being clicked.  */

.btn {
    /* position: relative;  */
    /* z-index: 10;  */
}

.myDiv {
    height: 700px;
}

.about-us-div {
    position: relative;
}

@media (max-width: 1200px) {
    .about-us-div-inner img {
        width: 35% !important;
    }
}

@media (max-width: 992px) {
    .about-us-div-inner img {
        width: 30% !important;
    }
}

@media (max-width: 768px) {
    .about-us-div {
        position: static;
    }
    .about-us-div-inner {
        position: relative;
    }
    .about-us-div-inner img {
        width: 50% !important;
        right: 25% !important;
    }
}

@media (max-width: 576px) {
    .myDiv {
        height: 300px;
    }
    .myH1 {
        margin-top: 5rem;
    }
}